<h1>Velvitty</h1>

<div class="container">
<% if @job_links.class == String %>
  <h2><%= @job_links %></h2>
<% else %>  
  <h2>Job's you've applied to</h2><br>
  <% @job_links.each do |job| %>
    <div class="col-md-4 jumbotron">
      <h3><%= job.job_title %></h3>
    </div>  
  <% end %>
<% end %>  
</div>