<!-- <progress id='pb' class="progress" value=0  max="1000"></progress> -->
<div class-"container-fluid jumbotron super-jumbo">
  <div class='main-title col-sm-offset-2'>
    <span><h1>Velvi</h1></span><span><h5 class="beta"></h5></span>
    <div>
      <span><h5>The best job application software in the world. </h5></span><!-- <span><h5 class="theta">Like a wizard.</h5></span> -->
    </div>  
  </div>
  <div class='container-fluid main-jumbo'>
    <%= form_for @job_link do |f| %>
      <div class='col-md-7 col-md-offset-2'>
        <span class='col-lg-5 job-title'>
          <h5>Job Title / Industry</h5>
          <%= f.text_field :job_title %><br><br />
        </span>
        <span class='col-lg-5'>
          <h5>Where</h5>
          <%= f.text_field :job_location %><br /><br /> 
        </span>
        <div class='col-lg-2 button-element' align='center', onclick="generateProgressBar()" >
          <%= f.submit "Explore", class: 'btn btn-primary main-search-button', id: 'job-search-button' %>
        </div>   
      </div>  
    <% end %>  
  </div>
</div>
