<h1>Jobs We Found</h1>
<div class="jumbotron">
  <% @job_applications.each  do |job| %>
    <div>

      <h2><%= job.title != '' ? job.title : job.job_link.job_title %></h2>
      <h6><%= job.company %>; <%= job.location %></h6>
      <hr>
    </div>
  <% end %>
</div>