<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Whats worse than unemployment?</h1>
        <h4 class='cover-subheading'>Applying for jobs.</h4>
        <p class="lead"> You want to be out doing things with your life. Climbing the himilayas, maybe kayacking the full length of the amazon river. Hell, maybe just playing Super Smash with your buddies. We're the same way, and we want to help. Tell us what job you want, we'll find all the places that match your criteria, and we'll apply for you.</p>
      </div>


    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


