<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">You Have A Life</h1>

        <p class="lead"> 
          You want to be doing things. Hanging out with your family, climbing mountains or maybe just finding a new place to eat. We get it. So lets turn being unemployed to being FUNemployed. Tell us what job you're looking for and we'll do all the dirty work of finding and applying to each good fit. So you can go wine and dine your special someone, because you have the time.
        </p>
        <p class="lead">
          <%= link_to "Get Started", root_path, class: 'btn btn-lg btn-secondary' %>
        </p>
      </div>


    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


