<div class='container' id='loadingMessage'>
  <h1 id='loadingMessage'>One Moment, while we search.</h1>
  <h5>We'll redirect you once all the places we can auto-apply to have been found.</h5>
  <br>
  <h3>In the mean time, here's some gifs you might enjoy.</h3>
</div>



