<div class='main-title'>
  <h1 class=''>Mission</h1>
</div>
<div class='row'>
</div>  

<div class='container'>
  <div class='container jumbotron'>
  <p>
  As every wise man knows, instead of something material or monetary, the desire to do something meaningful produces better results, better people, and a better society. The problem is that doing great work takes a lot of time and energy and resources. Things that are far too scarce these days. People simply don't have the time or the energy to follow their dreams simply because of the need to survive. Today's employees are surviving by earning a living, and they're usually earning a living at a job that is going to be replaced by a computer or a robot within the next decade.
  </p>  
  <p>
    Wit self driving cars rounding the next corner, the world is beginning to harnes the power of the computer. The possibilities are endless. Once your time ha been freed, if you have enough resources to retire, you will finally have the oportunity to follow your dreams. Weather that is being with your family, starting a non profit, or even traveling the world. You will definitely have the time and energy. 
  </p>

  <p>
    What about resources? If you're not working and you're trying to become the worlds best lego builder, how are you going to make a living? Many of the worlds boring and tedious tasks are going to be taken by computers. We are making that happen sooner than later. And we are making sure that everyone benefits. And we are making sure that the hardest parts of your life, all the way to generating an income, are automated. Because when things are taken care of for you, you have the time to follow your heart. 
  </p>  

<br>
  <h4>Why?</h4>
<br/>
  <p>
    Because when people have the resources and the time to do what they've always wanted, great things happen. Charities that don't have enough man power to do the work the need, suddenly have an abundance of people to help. Entrepreneurs and Engineers finally have the oportunity to create the products they want to create, ennabling more innovation. Working parents finally have the oportunity to raise they're kids
  </p>  
  <br />
  <h3>In Short</h3>
  <br />
  <p>We are giving you a series of products that will help automate the boring and routine parts of your life, including your income. Giving you the opportunity to chase your dreams.</p>

</div>
</div>