/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap";

h2,h3,h4,h5,h6,p,label,input,a,em{
  font-family: 'Montserrat', sans-serif;
  color: rgba(0,0,0,0.87);
  // font-family: 'Amaranth', sans-serif;
}
  .btn-primary{
    margin-top: 30px;
    background-color: #47CE9A;
    // background-color: #8F7946;
    border: none;
  }
h1{
  color: rgb(112,51,130);
  font-family: 'Montserrat', sans-serif;
}

.product-div{
  // padding: 5px;
  margin-top: 0.7em;
  width: 20em;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  background-color: rgb(255,255,255);
  border-radius: 20px;
  border-style: groove;
  h2,h1{
    text-decoration: underline;
  }

}

.navbar-toggler {
  color: white;
  float: right;
}

.share-tron{
  // width: em;
  // margin-right: 50px;
  // margin-left: 10px;
  text-align: center;
  background-color: rgb(255,255,255);
  border-radius: 0px;
  border-style: thin;
  .attention-word{
    color:  #47CE9A;
  }
  .icon{
    margin-bottom: 20px;

    // border-bottom: 1px solid rgba(0,0,0,0.6);
    i{
      color: rgb(112,51,130);
      font-size: 75px;
      // text-decoration: underline;
    }
  }
}

.link-tron{
  text-align: center;
}

.mid-product-div{
  // padding: 5px;
  width: 25em;
  text-align: center;
  border-style: groove;
  border-radius: 20px;
  background-color: rgba(71,206,154,0.2);
  h1{
    text-decoration: underline;
  }
}

.title{
  color: rgb(112,51,130);  
}

.subtitle{
  color: #47CE9A;
}

.sign-up{
  margin-top: 20px;
}

.cover-letter{
  min-width: 500px;
  min-height: 247px;
}

.invite_friends_div{
   text-align: center;
   background-color: rgba(71,206,154,0.2);
   text-decoration: underline;
}

.main-title{
  margin-top: 100px;
  margin-bottom: 61px;
  h1{
    display:inline;
    font-size: 75px;
    font-weight: bold;
    color: rgb(112,51,130);
    margin-left: 15px;
  }
  .beta{
    display: inline;
    color: #47CE9A;
    margin-left: 0px;
  }
  .theta{
    margin-left: 35px;
     color: #47CE9A;
  }
  h5{
    margin-left: 35px;
    // display: inline;
  }
}

.job-link-index{
  margin-top: 30px;
}

.main-jumbo{
    background-color: rgba(0,0,0,0);
    font-color: #91B259;
  .job-title{
    // float: right;
    margin-right: auto;
    #job_link_job_title{
      min-width: 15rem;
    }
  }
  #job_link_job_location{
    min-width: 15rem;
    float:left
  }
}

.navbar{
  background-color: rgb(112,51,130);
  border-radius: 0px;
}

.cover-subheading{
  // margin-bottom: 38px;
  text-align: center;
  color: rgb(112,51,130);
}

.lead{
  text-align: center;
}

.cover-heading{
  margin-top: 100px;
  // margin-bottom: 61px;
  // font-size: 40px;
  font-weight: bold;
  text-align: center;
  color:  #47CE9A;
}

