/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap";

h1,h2,h3,h4,h5,h6,p,label,input,a,em{
  font-family: 'Montserrat', sans-serif;
  color: rgba(0,0,0,0.87);
  // font-family: 'Amaranth', sans-serif;
}

.sign-up{
  margin-top: 20px;
}

.cover-letter{
  min-width: 500px;
  min-height: 247px;
}

.main-title{
  margin-top: 100px;
  margin-bottom: 61px;
  h1{
    display:inline;
    font-size: 75px;
    margin-left: 15px;
    font-weight: bold;
    color: rgb(112,51,130);
  }
  h5{
    display: inline;
  }
}

.job-link-index{
  margin-top: 30px;
}

.main-jumbo{
    background-color: rgba(0,0,0,0);
    font-color: #91B259;
  .job-title{
    // float: right;
    margin-right: auto;
    #job_link_job_title{
      min-width: 15rem;
    }
  }
  #job_link_job_location{
    min-width: 15rem;
    float:left
  }
  .btn{
    margin-top: 30px;
    background-color: #47CE9A;
    // background-color: #8F7946;
    border: none;
  }
}

nav{
  border-radius: 0px;
}

.cover-subheading{
  // margin-bottom: 38px;
  text-align: center;
  color: rgb(112,51,130);
}

.lead{
  text-align: center;
}

.cover-heading{
  margin-top: 100px;
  // margin-bottom: 61px;
  // font-size: 40px;
  font-weight: bold;
  text-align: center;
  color:  #47CE9A;
}